*{
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

.menuprincipal{
    background-color: black;
    height: 650px;
    padding-top: 10px;
}
.menuprincipal .title{
    margin-top: -50px;
    font-size: 32px;
}

.displayflex{
    display: flex;
    justify-content: center;
}

.logocentro{
    background-color: black;
    margin-top: 1px;
    width: 750px;
    
}

.logologo{
    margin-left: 50px;
    margin-top: 25px;
    width: 200px;
}

h2.title{
    font-size: 35px;
    text-align: center;
}

h2.title span{
    color: rgb(1, 175, 1);
}

#description{
    line-height: 1.5;
    font-size: 25px !important;
}

.flex{
    display: flex;
}

header{
    padding: 20px 0;
}

header a{
    color: rgb(223, 223, 223);
    text-decoration: none;
    display: inline-block;
    transition: 0.25s;
    transform: 0.25s;
    font-size: 25px;
}

header a:hover{
    color: rgb(181, 252, 49);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
}

header > .cabecalho{
    height: 80px;
    width: 100%;
    padding: 80 4%;
    background-color: rgb(40, 121, 40);
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
}

.button{
    color: black;
    border: 0;
    border-radius: 6px;
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.05);
    transition: 0.25s;
    transform: 0.25s;
    background-color:rgb(181, 252, 49);
    box-shadow: 0 0 8px #00ff086b
}

header{
    background-color: black;
}

.listaCabecalho{
    padding-top: 10px;
}

h1{
    padding: 20px 40px;
}

.spanPort{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(179, 255, 0);
    border-color:  2px black;
}

body{
    background-color: #18181b;
    height: 100vh;
}

image{
    align-items: end;
}

img{
    width: 100%;
}


/*ESTILO DO TOPO DO SITE*/
section.topoSite{
    padding: 50px 4%;
    padding-bottom: 70px;
    height: 100vh;
    background-color: black;
}

section.topoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#cerebro{
    width: 400px;
    height: 400px;
}

.txt-top{
    align-items: baseline;
}

.topoSite .txt-top h1{
    font-size: 39px;
    text-align: center;
    line-height: 40px;
    margin-bottom: -10px;
}

.topoSite .txt-top p{
    margin: 40px 0;
    font-size: 15px;
    text-align: justify;
}

#description{
    font-size: 15px;
    padding-left: 40px;
}

#button{
    color: black;
    border: 0;
    border-radius: 6px;
    padding: 10px 50px;
    margin: -10px 50px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 40px;
    text-align: center;
    margin-left: 220px;
    background-color: rgb(1, 175, 1);
    
}

#button:hover{
    transform: scale(1.05);
    transition: 0.25s;
    transform: 0.25s;
    box-shadow: 0 0 8px #00ff086b;
    background-color: rgb(179, 255, 0);
}

.topoSite .imgSite img{
    width: 500PX;
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

/*ESTILO DAS HABILIDADES*/

.especialidades{
    background-color: rgb(0, 0, 0);
    padding: 0 60px 0 60px;
}

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
    margin-top: 25px;
    display: flex
}

.especialidades .especialidadesBox{
    padding: 40px;
    border-radius: 20px;
    transition: 0.5s;
}

.especialidades .especialidadesBox:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px #ffffff7e;
}

.apresentacao image{
    size: 100px;
}

#title2{
    margin-top: 20px;
    margin-bottom: 50px;
}

.especialidades .especialidadesBox i{
    font-size: 80px;
    color: rgb(1, 175, 1);
}

.especialidades .especialidadesBox h3{
    font-size: 24px;
    margin: 15px 0;
}

.especialidades .especialidadesBox{
    max-width: 370px;
}

/*DESCRIÇÃO*/

section.apresentacao{
    padding: 60px 4%;
    background-color: black;
}

section.apresentacao .flex{
    align-items: center;
    gap: 60px;}

.apresentacao .sobre{
    padding-left: 80px;
    max-width: 800px;
}

.apresentacao .sobre h2{
    font-size: 45px;
}

.apresentacao .sobre h2 span{
    color: rgb(1, 175, 1);
    display: block;
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.apresentacao .sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.apresentacao .imgsobre img{
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;

}

.icones button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(1, 175, 1);
    font-size: 22px;
    cursor: pointer;
    margin: 0px 5px;
    transition: 0.25s;
}

.icones button:hover{
    transform: scale(1.15);
    transform: 0.25s;
    box-shadow: 0 0 8px #00ff086b;
}

.imgsobre img{
    width: 120%;
}

/*Estilo do portfólio*/

section.portfolio{
    padding: 80px 4%;
    /*box-shadow: 0 0 40px 10px #ffffff41;*/
    background-color: black;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: rgb(1, 175, 1);
    background-size: cover;
    border-radius: 50px;
    box-shadow: 0 0 30px 2px #ffffff10;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.466);
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 100;
}

.img-port:hover{
    background-position: 100% 100%;
}

section.portfolio .flex{
    justify-content: space-around;
}

section.portfolio .title{
    margin-bottom: 80px;
}


/*FORMULARIO*/

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{ /*Colocar a virgula e depois chamar as outras propriedades internas economiza tempo*/
    max-width: 100%;
    background-color: black;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 30px;
    color: #fff;
}

form textarea{
    resize: none;
    max-height: 200px;
}

/*form input::placeholder{
    color: #ffffff8e;
}*/

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: rgb(1, 175, 1);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

form .btn-enviar input[type=submit]:hover{
    transform: scale(1.1);
}

/*RODAPÉ*/



footer{
    padding: 20px 4%;
    background-color: black;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid rgb(1, 175, 1);
}

footer .line-footer p i{
    color: rgb(1, 175, 1);
    font-size: 20px;
}

.interface .icones{
    padding-top: 10px;
}